<main class="main">

    <bmb-top-bar
    [positionButtonMenu]="'left'"
    [hasLogoutButton]="false"
    [appName]="'Interfaz para probar componentes de datos'"
    [appSubTitle]="'Tec.data'"
    [showLang]="false"
    [lang]="'es'"
  >
  
  <bmb-theme [initialTheme]="'dark'" [showControls]="true"></bmb-theme></bmb-top-bar>

  <div bmbLayout [gapSize]="'l'" [justify]="'center'" [alignItems]="'center'" [dynamicCols]="true" >

    <bmb-dropdown
    [options]="['Persona']"
    [placeholder]="'Profesor...'"
    [label]="'Componente'"
    (onValueChange)="handleSelectionChange($event)"
    [formControl]="dropdownControl"
    ></bmb-dropdown>

    <bmb-dropdown
    [options]="['Nombre', 'Primer Apellido', 'Segundo Apellido', 'Fecha Nacimiento', 'CURP', 'Rfc', 'Sexo', 'Nacionalidad', 'Correo Electrónico', 'Teléfonos', 'Direcciones', 'Población de Nacimiento']"
    [placeholder]="'Campus...'"
    [label]="'Atributos'"
    (onValueChange)="handleSelectionChange($event)"
    [formControl]="dropdownControl"
    ></bmb-dropdown>

    <app-bmb-custom-text-input></app-bmb-custom-text-input>    

</div>

  <div bmbLayout [gapSize]="'l'" [justify]="'spaceAround'" [dynamicCols]="true">
    <bmb-card [borderRadius]="'l'" [type]="'primary'">
      <bmb-card-header>
        <h1>Componente</h1>
      </bmb-card-header>
      <bmb-card-content>
        <p>Contenido del primer card.</p>
      </bmb-card-content>
    </bmb-card>
  
    <bmb-card [borderRadius]="'l'" [type]="'secondary'">
      <bmb-card-header>
        <h1>Opciones seleccionadas</h1>
      </bmb-card-header>
      <bmb-card-content>
        <div *ngIf="selectedOptions.length">
            <h4>Seleccionados:</h4>
            <div *ngFor="let option of selectedOptions; let i = index">
                <span>{{ option }}</span>
                <button (click)="removeSelection(i)">Eliminar</button>
            </div>
        </div>
      </bmb-card-content>
    </bmb-card>
  </div>
    
</main>


<router-outlet />
